# Python
__pycache__/
*.pyc

# Conda / venv
hello-env/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

#folders
prac/

# Ignore Kaggle data files
*.zip
*.csv
data/
doc/


# IDEs
.vscode/
.idea/

#Practice files
*prac.py


